:root {
  --default-font-size: 1.6rem;
  --social-media-linkedin-blue: #0077b5;
  --margin-bottom-smaller: 1rem;
  --margin-bottom-small: 1.5rem;
  --margin-bottom-medium: 4rem;
  --margin-bottom-large: 6rem;
  --color-white: #fff;
  --color-blue-light-1: #99ccff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-dark-1-2: #555;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 3);
  --shadow-medium: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  --line-1: 1px solid var(--color-grey-light-1);
  --line-2: 1px solid var(--color-grey-light-4);
  --line-3: 1px solid var(--color-grey-dark-1);
  --line-4: 1px solid var(--color-grey-dark-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 3.5rem;
    animation: moveDown 1.2s ease-in; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.5rem;
    animation: moveUp 1.2s ease-in; }

.heading-secondary {
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .heading-secondary--main {
    padding: 1.2rem 1.5rem;
    box-shadow: var(--shadow-light);
    border-radius: 3px; }
    .heading-secondary--main--1 {
      color: var(--color-grey-dark-1); }

.heading-tertiary {
  color: var(--color-grey-dark-1);
  font-size: 2.5rem;
  font-weight: 700; }
  .heading-tertiary--sub {
    text-transform: uppercase;
    font-weight: 300; }

.heading-quaternary {
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-grey-dark-1);
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .heading-quaternary span {
    font-size: 1.2rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-text-center {
  text-align: center !important; }

.card-container {
  display: flex;
  justify-content: space-evenly; }
  .card-container__card {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--shadow-medium);
    margin-bottom: var(--margin-bottom-medium);
    flex: 0 0 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s; }
    .card-container__card:hover {
      transform: scale(1.05);
      background-color: white; }
  .card-container__picture {
    background-size: cover;
    height: 21rem;
    width: 100%; }
    .card-container__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/frontend-2.jpg); }
    .card-container__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/backend.jpg); }
    .card-container__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/othertech.jpg); }
  .card-container__card-heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-grey-light-1);
    position: absolute;
    top: 14rem;
    left: 1rem;
    z-index: 5;
    width: 75%; }
  .card-container__card-heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card-container__card-heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); }
  .card-container__card-details {
    padding: 1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.95;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.about {
  padding: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden; }
  .about__description, .about__reviews {
    font-size: 2rem;
    font-weight: 300; }
  .about__profile, .about__reviews {
    transform: skewX(-10deg); }
  .about__profile {
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: var(--shadow-medium);
    flex: 0 0 60%;
    display: flex;
    align-items: center; }
  .about__figure {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5rem;
    transform: skewX(10deg);
    flex: 0 0 20rem; }
  .about__photo {
    transform: translateX(-30%); }
  .about__description {
    color: var(--color-grey-dark-1);
    transform: skewX(10deg);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about__text:not(:last-child) {
    margin-bottom: var(--margin-bottom-smaller); }
  .about__text--1 {
    font-size: 1.4rem; }
  .about__education div {
    margin-bottom: var(--margin-bottom-smaller); }
  .about__review {
    color: var(--color-grey-light-1);
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: var(--line-1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
  .about__review-info {
    transform: skewX(10deg);
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .about__review-person {
    font-size: 1.7rem; }
  .about__review-rating {
    font-size: 2.5rem;
    color: var(--color-blue-light-1); }

.btn-inline {
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-weight: 100;
  display: block;
  border-bottom: var(--line-3);
  display: flex;
  align-items: center; }
  .btn-inline span {
    margin-left: 8px;
    transition: margin-left 0.5s; }
  .btn-inline:hover {
    border-bottom: var(--line-4); }
    .btn-inline:hover span {
      margin-left: 15px; }
  .btn-inline a:link, .btn-inline a:visited {
    height: 4rem;
    text-decoration: none;
    color: var(--color-grey-dark-1);
    display: flex;
    justify-content: center;
    align-items: center; }
    .btn-inline a:link:hover, .btn-inline a:visited:hover {
      color: var(--color-grey-dark-2); }

.projects {
  display: flex;
  flex-direction: column; }

.project {
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: var(--shadow-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .project:not(:last-child) {
    margin-bottom: var(--margin-bottom-medium); }
  .project__figure, .project__description {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 2rem; }
  .project__screenshot, .project__demo-video {
    width: 100%;
    height: 100%;
    border-radius: 3px; }
  .project__details {
    color: var(--color-grey-dark-1);
    display: flex;
    justify-content: center; }
  .project__figure {
    overflow: hidden;
    margin-right: 4rem;
    flex: 0 0 40%; }
    .project__figure--demo {
      height: 30rem;
      width: 30rem; }
  .project__demo-video {
    outline: none; }
    .project__demo-video:focus {
      border: 1px solid var(--color-grey-dark-1); }
  .project__description {
    flex: 0 0 40%;
    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.global-list {
  list-style: none;
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-grey-dark-2); }
  .global-list__experience {
    color: var(--color-grey-light-1);
    position: relative; }
    .global-list__experience li {
      border-left: 2px solid var(--color-grey-dark-3);
      padding: 1rem 2rem; }
      .global-list__experience li::before {
        content: '';
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        border: 2px solid var(--color-grey-dark-1-2);
        background-color: var(--color-grey-light-1);
        position: absolute;
        left: -0.75%;
        margin-top: 2.5rem; }
      .global-list__experience li div {
        background-color: var(--color-grey-dark-1-2);
        padding: 1.5rem;
        border-radius: 3px;
        display: flex;
        flex-direction: column; }
        .global-list__experience li div span {
          display: block;
          font-size: 1.1rem; }
        .global-list__experience li div p {
          font-size: 1.4rem; }
        .global-list__experience li div *:not(:last-child) {
          margin-bottom: var(--margin-bottom-smaller); }
  .global-list__card-li {
    padding: 0.75rem; }
    .global-list__card-li:not(:last-child) {
      border-bottom: var(--line-2); }
  .global-list__link {
    text-decoration: none;
    display: inline-block; }
    .global-list__link--project:visited, .global-list__link--project:link {
      font-size: 1.7rem;
      font-weight: 400;
      color: var(--color-grey-dark-1);
      border-bottom: 1px solid currentColor; }
    .global-list__link--project:hover, .global-list__link--project:active {
      color: var(--color-grey-dark-2); }
      .global-list__link--project:hover span, .global-list__link--project:active span {
        margin-left: 8px; }
    .global-list__link--project span {
      margin-left: 1px;
      transition: margin-left 0.2s; }

.experience {
  display: flex;
  justify-content: space-evenly; }
  .experience__education, .experience__history {
    flex: 0 0 40%; }

.education {
  display: flex;
  justify-content: space-evenly; }
  .education__block {
    flex: 0 0 40%;
    background-color: var(--color-grey-dark-3);
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column; }
  .education__figure {
    flex: 0 0 40%;
    overflow: hidden;
    display: flex;
    justify-content: center; }
  .education__img {
    height: 100%; }
  .education__details {
    padding: 1rem;
    border-radius: 3px;
    background-color: var(--color-grey-dark-1-2);
    color: var(--color-grey-light-1);
    font-weight: 300;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .education__text {
    font-size: 1.8rem; }
    .education__text:not(:last-child) {
      margin-bottom: var(--margin-bottom-smaller); }
    .education__text--small {
      font-size: 1.2rem;
      align-self: center; }

.btn, .btn:link, .btn:visited {
  background-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 1.2rem 4rem;
  border-radius: 1rem;
  transition: all 0.2s;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  width: 30%; }
  .btn:not(:last-child), .btn:link:not(:last-child), .btn:visited:not(:last-child) {
    margin-bottom: var(--margin-bottom-small); }

.btn:hover {
  transform: translateX(3px); }

.btn__linkedin--blue, .btn__linkedin--blue:link, .btn__linkedin--blue:visited {
  background-color: var(--social-media-linkedin-blue);
  color: var(--color--grey-light-1); }

.btn__linkedin--blue span {
  color: var(--social-media-linkedin-blue);
  background-color: #fff;
  border-radius: 3px;
  margin-left: 3px;
  padding: 0rem 0.4rem; }

.btn__github--grey, .btn__github--grey:link, .btn__github--grey:visited {
  color: var(--color-grey-dark-1);
  display: flex;
  align-items: center; }
  .btn__github--grey span, .btn__github--grey:link span, .btn__github--grey:visited span {
    display: flex;
    align-items: center; }

.social-media {
  display: flex;
  animation: moveUp 1.5s ease-in;
  justify-content: center;
  align-items: center; }
  .social-media__link:link, .social-media__link:visited {
    text-decoration: none; }
  .social-media__icon {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    transition: all 0.4s; }
    .social-media__icon:hover {
      transform: translateY(-3px); }
    .social-media__icon--default {
      fill: var(--color-grey-light-1); }
    .social-media__icon--linkedin {
      fill: var(--social-media-linkedin-blue); }
    .social-media__icon--github--btn {
      height: 1.8rem;
      width: 1.8rem;
      margin-right: 0.75rem; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(89, 89, 89, 0.8), rgba(64, 64, 64, 0.8)), url(../img/bridge-dark.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.navbar {
  position: absolute;
  height: 6rem;
  z-index: 100;
  width: 100%;
  top: 2rem;
  left: 0;
  animation: moveDown 1s ease-out; }
  .navbar__nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navbar__nav-link:link, .navbar__nav-link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: var(--line);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
    background-size: 300%;
    transition: all 0.55s; }
    .navbar__nav-link:link:hover, .navbar__nav-link:link:active, .navbar__nav-link:visited:hover, .navbar__nav-link:visited:active {
      background-position: 100%;
      color: var(--color-grey-dark-2);
      transform: translateY(1rem);
      box-shadow: var(--shadow-medium); }

.footer {
  padding: 5rem;
  background-color: var(--color-grey-dark-1);
  color: var(--color-grey-light-1);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .footer__buttons, .footer__text {
    flex: 0 0 40%;
    padding: 2rem; }
  .footer__text {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-grey-light-3); }
  .footer__buttons {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__copyright {
    flex: 0 0 100%;
    order: 1; }

.section-about {
  position: relative;
  padding: 5rem 0; }

.section-skills {
  padding: 3rem 0;
  background-image: linear-gradient(to right bottom, rgba(89, 89, 89, 0.8), rgba(64, 64, 64, 0.8)), url(../img/bridge-light.jpg);
  background-size: cover; }

.section-projects {
  padding: 5rem 0;
  background-color: var(--color-grey-dark-1-2); }
