.footer {
  padding: 5rem;
  background-color: var(--color-grey-dark-1);
  color: var(--color-grey-light-1);

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  &__buttons,
  &__text {
    flex: 0 0 40%;
    padding: 2rem;
  }

  &__text {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-grey-light-3);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__copyright {
    flex: 0 0 100%;
    order: 1;
  }
}
