.btn {
  &,
  &:link,
  &:visited {
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 1.2rem 4rem;
    border-radius: 1rem;
    transition: all 0.2s;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    width: 150px;

    &:not(:last-child) {
      margin-bottom: var(--margin-bottom-small);
    }
  }

  &:hover {
    transform: translateX(3px);
  }

  &__linkedin {
    &--blue {
      &,
      &:link,
      &:visited {
        background-color: var(--social-media-linkedin-blue);
        color: var(--color--grey-light-1);

        display: flex;
        align-items: center;
      }

      & span {
        color: var(--social-media-linkedin-blue);
        background-color: #fff;
        border-radius: 3px;
        margin-left: 3px;
        padding: 0rem 0.2rem;
      }
    }
  }

  &__github {
    &--grey {
      &,
      &:link,
      &:visited {
        color: var(--color-grey-dark-1);

        display: flex;
        align-items: center;

        & span {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
