.experience {
  display: flex;
  justify-content: space-evenly;

  ///////////////////////////
  // combined properties
  ///////////////////////////

  &__education,
  &__history {
    // background-color: var(--color-grey-dark-1-2);
    flex: 0 0 40%;
  }
}
