.section-about {
  position: relative;
  padding: 5rem 0;
}

.section-skills {
  // height: 100vh;
  // width: 100%;
  padding: 3rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba(89, 89, 89, 0.8),
      rgba(64, 64, 64, 0.8)
    ),
    url(../img/bridgeLightMobile.jpg);

  @media only screen and (min-width: 901px) {
    background-image: linear-gradient(
        to right bottom,
        rgba(89, 89, 89, 0.8),
        rgba(64, 64, 64, 0.8)
      ),
      url(../img/bridgeLight-1x.jpg);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 901px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 901px),
    only screen and (min-width: 1800px) {
    background-image: linear-gradient(
        to right bottom,
        rgba(89, 89, 89, 0.8),
        rgba(64, 64, 64, 0.8)
      ),
      url(../img/bridgeLight-2x.jpg);
  }

  background-size: cover;
  background-position: center;
}

.section-projects {
  padding: 5rem 0;
  background-color: var(--color-grey-dark-1-2);
}

// .section-education {
//   padding: 5rem 0;
//   background-color: var(--color-grey-light-4);
// }
